*{
    font-family: 'Outfit', sans-serif;

}
body{
    background-color: var(--thm-Light-gray);
}
.qr-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 700px;
    
}
.qr-card .qr-card-inner{
    max-width: 326px;
    box-sizing: border-box;
    padding:17px 20px;
    border-radius:22px;
    background-color: var(--thm-White);
}
.qr-card img{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.qr-card .title{
    text-align: center;
    font-size: 22px;
    color: var(--thm-Dark-blue);
}
.qr-card .text{
    text-align: center;
    font-size: 15px;
    padding:0 16px;
    color: var(--thm-Grayish-blue);
}
